*{
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    
}



.btn-primary{
    height: 56px;
    padding: 16px 22px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    background-color: #FF5959;
    border: none;
    margin: 30px 0 30px 0;
    border-radius: 5px;
}

section{
    max-width: 1140px;
}



.banner{
    min-height: 669px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../assets/images/banner-image.jpg);
}

.banner .banner-content{
    align-items: centers;
    padding: 174px 307px;
    text-align: center;
}

.banner .banner-content .banner-title{
    font-size: 65px;
    font-weight: 700;
    color: #fff;
}

.banner .banner-content .banner-sub-title{
    font-size: 18px;
    font-weight: 400;
    color: #fff;    
}

.donate-today-section{
    text-align: center;
}
.section-title-left{
    font-size: 45px;
    font-weight: 700;
    margin: 100px 0 20px 0;
    text-align: left;
}

.section-title-right{
    font-size: 45px;
    font-weight: 700;
    margin: 100px 0 20px 0;
    text-align: right;
}

.section-title-center{
    font-size: 45px;
    font-weight: 700;
    margin: 100px 0 20px 0;
    text-align: center;
}

.section-sub-title-center{
    font-size: 18px;
    font-weight: 400px;
    color: #707070;
    text-align: center;
}

.section-sub-title-right{
    font-size: 18px;
    font-weight: 400px;
    color: #707070;
    text-align: right;
}

.section-sub-title-left{
    font-size: 18px;
    font-weight: 400px;
    color: #707070;
    text-align: left;
}

.button-section{
    margin-top: 50px;
    display: flex;
    max-width: 1000px;
}

.button-section .ammount-button{
    height: 123px;
    padding: 45px 25px;
    font-size: 30px;
    font-weight: 900px;
    color: #707070;
    border: none;
    border-radius: 10px;
}

.button-section .ammount-button:hover{
    height: 123px;
    padding: 45px 25px;
    font-size: 30px;
    font-weight: 900px;
    color: #FF5959;
    border: 2px solid #FF5959;
    border-radius: 10px;
}

input[type=number]{
    margin: 50px 0px 20px 0;
    width: 100%;
    text-align: center;
    height: 50px;
    font-size: 18px;
    font-weight: 400px;
    color: #B3B3B3;
    border: 0;
    border-bottom: 2px solid #B3B3B3;

}

input[type=number]:focus{
    margin: 50px 0px 20px 0;
    width: 100%;
    text-align: center;
    height: 50px;
    font-size: 18px;
    font-weight: 400px;
    color: #000;
    border: 0;
    outline: none;
    border-bottom: 2px solid #B3B3B3;

}


.custom-ammount:click{
    border-bottom: 2px solid 
}

.donate-today-section .btn-primary{
    text-align: center;
}